<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
    <key>com.apple.developer.backgroundModes</key>
       <array>
           <!-- Add the modes you need from below -->
           <string>fetch</string>
           <string>processing</string>
           <string>remote-notification</string>
       </array>
</dict>
</plist>
